<h2>Homepage</h2>

<%= currentUser ? currentUser.name : 'There is no user' %>
</br>
<article>
    <form action="food/results" method= "POST">
        Food Item: <input type="search" name="description">
        <input type="submit">
    </form>
</article>
<article>
    <form id="lunchForm" action="/" method="POST">
        <label for="lunch-name">Lunch Name</label>
        <input type="text" name="name">
        <% if (user) { %>
        <input type="hidden" name="userId" id="userId" value="<%= user.dataValues.id %>">
            <% } %>
        <input type="submit">
    </form>
</article>
<main>
    <% food.forEach(function(food) { %>
        <div class="foods">
             <%= food.description %>
            <form method="POST" action="/">
                <input hidden type="text" name="add-to-lunch" value="<%= food.description %>">
                <button type="submit">Add to Lunch.ejs</button>
            </form>
            <form method="GET" action="/results/">
                <input hidden type="text" name="show-data" value="<%= food.fdcId %>">
                <button type="submit">Show Nutrition Data (results.ejs)</button>
            </form>
        </div>
    </form>
        <% }); %> 
</main>