<h1>This is my results.ejs</h1>
<ul>
    <% food.foods.forEach(food => { %>

    <li>
        <form>
        <%= food.description %>
        <option>
        <% food.foodNutrients.forEach(nutrient => { %>
            <% if (nutrient.nutrientName == 'Protein') { %>
                <%= nutrient.nutrientName %> 
                <%= nutrient.value %>
                <%= nutrient.unitName %>
            <% } %>
            <% if (nutrient.nutrientName == 'Carbohydrate, by difference') { %>
                 Carbohydrate  
                <%= nutrient.value %>
                <%= nutrient.unitName %>
            <% } %>
            <% if (nutrient.nutrientName == `Total lipid (fat)`) { %>
                    <%= nutrient.nutrientName %>  
                   <%= nutrient.value %>
                   <%= nutrient.unitName %>    
            <% } %>
        </form>
            <% }) %>
        </li>
        <form method="POST" action="/food/lunch">
                <input type="hidden" name="description" value="<%= food.description%>">
                <input type="hidden" name="fdcId" value="<%= food.fdcId%>">
                <button type="submit">Add to Lunch</button>
        </form>
    <% }) %>
</ul>
    
